/* Enter your Styles below! */
@font-face {
  font-family: 'dinot-black';
  src: url('../dinot/DINOT-Black.otf') format('otf');
}
@font-face {
  font-family: 'dinot';
  src: url('../dinot/DINOT.otf') format('otf');
}
body {
	background-color: #000;
	font-size: 16px;
}

header{
	height: 100vh;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
a:hover {
  color: #2a5135;
}

.schedule img {
  height: 100vh;
}

.nav {
  font-family: 'dinot-black', sans-serif;
	color: white;
	font-size: 45px;
  line-height: 200px;
	margin-top: 10vh;
}

.title {
  font-family: 'dinot-black', sans-serif;
	color: white;
	font-size: 45px;
}

h1 {
	font-family: 'dinot-black', sans-serif;
	color: white;
	font-size: 48px;
	margin-top: 45vh;
}

h2 {
  font-family: 'dinot', sans-serif;
	color: white;
	font-size: 48px;
}

h3 {
  font-family: 'dinot', sans-serif;
	color: white;
	font-size: 25px;
  line-height: 45px;
}

p {
  font-family: 'dinot', sans-serif;
	color: white;
	font-size: 18px;
  line-height: 20px;
}

.grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 60px;
  max-width: 80%;
  margin: auto;
}

.grid img{
  width: 100px;
}

.roster a {
  transition: .5s ease;
  filter: grayscale(100%);
}

.roster a:hover {
  transition: .5s ease;
  filter: none;
}

.player img{
  width: 500px;
}

.info h1 {
  font-size: 100px;
  color: #c8972c;
}

/*
h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}

blockquote {
	margin: 20px 60px;
	font-family: Helvetica, sans-serif;
}

header {margin-bottom: 20px;}

img { width: 100%; }

a {
	color: red;
	text-decoration: none;
	 }
a:hover { color: black; }

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	width: 60%;
	margin: auto;
}

.grid div {
	background-color: #ccc;
	padding: 20px;
}

@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}
*/
